# Add here all file patterns that should not be added to git

# Python
*.pyc
__pychache__/

# IntelliJ
*.iml
.idea

# Apple files
.DS_Store

# Jupyter notebook checkpoints
*.ipynb_checkpoints

# animation files
# If we save the animation it will change every time we re-run the animationdemo.py program
*.mp4

# If there are some animation we would like to add to the repository we can white-list them here